/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	box-sizing: border-box;
}
h1, h2 {

	font-family: Calibri, arial, helvetica, sans-serif;
	font-weight: normal;
}
main {

}
body {
	background-image: url("spooncrop.jpg");
	background-size: 700px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
	font-family: "Palatino Linotype", Georgia, serif;
	font-size: 1em;
	width: 800px;
	margin: auto;
	text-shadow: 0px 0px 3px black, 0px 0px 3px black;
	margin-top: 50px;
  border: solid #E6EDF2;
  color: #E6EDF2;
 	border-top-width: 155px;
 	border-right-width: 201px;
 	border-left-width: 201px;
 	border-bottom-width: 155px;
	background-color: #0C0F04;
	border-image: url(border.png);
	border-image-slice: 155 201 155 201; 
	border-image-repeat: stretch;
}
a, a:visited {
	color: #D2691E;
	text-decoration: none;
}
a:hover {
	color: #E6EDF2;
	background-color: inherit;
}
.top-link {
	margin-bottom: 12px;
	font-size: 1.5em;
	padding: 6px 8px .2em 4px;
	border-right: 3px solid;
	border-image:
	linear-gradient(
	 to top, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
header {
	padding: .4em;
	border-bottom: 3px solid darkred;
	margin-bottom: 8px;
}
#top-link-ender {
	padding: 4px;
	border-right: none;
}
a.inline-link {
	color: #D2691E;
	text-decoration: none;
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: 1em;
}
input {
	font-family: Calibri, arial, helvetica, sans-serif;
	font-size: 1em;
	background-color: #E6EDF2;
	margin: 5px 8px 8px;
}
input.submit-button {
	margin: 13px 8px 13px;
}
select {	
	font-family: Calibri, arial, helvetica, sans-serif;
	font-size: 1em;
	background-color: #E6EDF2;
	margin: 5px 8px 8px;
}
.signin-flash {
	margin: 13px 0px;
	font-family: Calibri, arial, helvetica, sans-serif;
	color: red; }