body {
  background-color: #fff;
  color: #E6EDF2;
  margin: 33px; }

body, p, ol, ul, {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  font-family: "Palatino Linotype", Georgia, serif;
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {  
  text-align: left;
  font-family: Calibri, arial, helvetica, sans-serif;
  padding: 2px 1px 5px 7px; }

td {
  font-family: Calibri, arial, helvetica, sans-serif;
  padding: 0 5px 7px; }

.email-cell {
  min-width: 10em;
  word-break: break-all;
}

div.field,
div.actions {
  margin-bottom: 0px; }

#notice {
  color: #11CD32; }

.field_with_errors {
  display: table; }

.field_with_errors > input {
  box-shadow: 0px 0px 10px red;
}
.field_with_errors > label {
  text-shadow: -1px -1px 10px red, -1px 1px 10px red, 1px -1px 10px red, 1px 1px 10px red;
}

#error_explanation {
  font-family: Calibri, arial, helvetica, sans-serif;
  width: 450px;
  border: 2px solid darkred;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: inherit; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: darkred;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  padding: 3px 0px 0px 8.5px;
  font-weight: bold;
  font-family: Calibri, arial, helvetica, sans-serif;
  display: block; }
